ul {
  list-style-type: none;
  font-size: 18px;
}

ol {
  list-style-type: decimal;
}

.imageDesc {
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.pets-container {
  width: auto;
}

.dogBox {
  display: inline-block;
  border: thin solid grey;
  width: auto;
  border-radius: 6px;
  padding: 5%;
  margin: 12px;
}

.catBox {
  display: inline-block;
  border: thin solid grey;
  width: auto;
  border-radius: 6px;
  padding: 5%;
  margin: 12px;
}

.other-pets {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 0;
}

.other-pet {
  padding: 5px;
}