ul {
  list-style-type: none;
  font-size: 18px;
}

ol {
  list-style-type: decimal;
}

.imageDesc {
  font-size: 16px;
}

img {
  max-width: 200px;
}

.dogBox {
  border: thin solid grey;
  border-radius: 6px;
  margin-bottom: 12px;
}

.catBox {
  border: thin solid grey;
  border-radius: 6px;
  margin-bottom: 12px;
}

.adoption {
  border: thin solid grey;
  border-radius: 6px;
}

.other-pets {
  border: solid black
}

.other-pet {
  border: solid black;
}